/* core style */
:root {
	--lavender: #F3F5FF;
	--gunmetal-blue: #515971;
	--russian-red: #D22D2F;
	--cornflower-blue: #8692FF;
	--forest-green: #22B342;
	--golden-yellow: #FFC01E;
	--midnight-blue: #1F263D;
	--white: #FFF;
	--gunmetal-blue: #515971;
	--blue-gray: #98A1BE;
	--slate-gray: #73788A;
	--periwinkle-gray: #9EA7C6;
	--light-periwinkle: #EDEFFC;
	--slate-blue: #6A738F;
	--turquoise-green: #62FEB3;
	--glacial-blue: #E7EAF2;
	--steel-blue: #949BB3;
	--camouflage-green: #6CA76E;
	--light-coral: #F76767;
	--cornflower-blue: #8592FF;
	--platinum: #ECF0F1;
	--manatee-gray: #98A1BE;
}

* {
	transition: all 0.2s linear;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

button {
	background: none;
	border: none;
}

body {
	font-family: 'Onest', sans-serif;
	font-weight: normal;
	color: var(--midnight-blue);
}

.btn {
	border-radius: 8px;
	background: var(--cornflower-blue);
	padding: 16px 40px;
	color: var(--white);
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	cursor: pointer;
}

.btn:hover {
	background-color: #8152FF;
}

.title-text {
	color: var(--white);
	font-family: 'Onest', sans-serif;
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

.title-text__sm {
	color: var(--midnight-blue);
	font-family: 'Onest', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.title-text__sm>span,
.title-text>span {
	color: var(--cornflower-blue);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.pointer {
	cursor: pointer;
}

/* header style */
.header-top {
	background-color: var(--midnight-blue);
	padding: 19px 0;
}

.header-top .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--white);
}

.header .header-right,
.header .header-bukmekr__box,
.header .bookmaker-rating,
.header .login-box {
	display: flex;
	align-items: center;
}

.header-logo {
	font-family: 'Baloo Da';
	font-size: 30px;
	font-weight: 400;
	line-height: 23px;
	color: var(--white);
	display: inline-block;
	margin-bottom: 4px;
}

.header-logo span {
	color: var(--forest-green);
}

.header-logo__info {
	color: var(--white);
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
}

.header .bookmaker-rating__text {
	padding-left: 11px;
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
}

.header .freebet-btn {
	color: var(--white);
	font-size: 15px;
	font-weight: 700;
	line-height: 38px;
	width: 152px;
	height: 38px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	background-color: var(--cornflower-blue);
	border-radius: 200px;
	margin: 0 26px 0 40px;
}

.header .freebet-btn:hover {
	background-color: #8152FF;
}

.header .search-box {
	margin: 0 66px 0 33px;
}

.header .login-box {
	cursor: pointer;
}

.header .login-text {
	color: var(--white);
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
	margin-left: 17px;
}

.header .gift-box {
	position: relative;
}

.header .gift-box__card {
	position: absolute;
	z-index: 999;
	top: 46px;
	left: 50%;
	transform: translateX(-50%) scaleY(0);
	background-color: var(--forest-green);
	border-radius: 5px;
}

.header .gift-box__card.open {
	transform: translateX(-50%) scaleY(1);
}

.header .gift-content {
	position: relative;
	padding: 20px 25px;
}

.header .gift-content .up-arrow {
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
}

.header .gift-content .close-btn {
	position: absolute;
	top: 10px;
	right: 12px;
}

.gift-box__card p {
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
	margin: 12px 0 15px 0;
}

.header .gift-content .take-btn {
	border-radius: 6px;
	width: 163px;
	height: 33px;
	color: var(--forest-green);
	font-family: Onest;
	font-size: 15px;
	font-weight: 700;
	line-height: 33px;
	display: inline-block;
	text-align: center;
	background: var(--white);
}

/* header main */
.header-midle .nav-item {
	display: flex;
	align-items: center;
	gap: 41px;
	padding: 19px 0;
}

.header-midle .nav-item .nav-link {
	color: var(--midnight-blue);
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
}

.header-midle .nav-item .nav-link:hover,
.header-midle .nav-item .nav-link.active {
	color: var(--forest-green);
}

.header-bottom {
	background-color: var(--gunmetal-blue);
}

.header-bottom .header-nav__sublist {
	display: flex;
	align-items: center;
}

.header-bottom .nav-list {
	display: flex;
	color: var(--white);
	gap: 42px;
}

.header-bottom .nav-link {
	position: relative;
	color: var(--white);
	font-size: 15px;
	font-weight: 400;
	padding: 14px 0;
	line-height: 19px;
}

.header-bottom .nav-link:hover {
	color: var(--glacial-blue);
}

.header-bottom .nav-link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--forest-green);
	transform: scaleX(0);
	transition: all 0.3s ease;
}

.header-bottom .nav-link:hover::before,
.header-bottom .nav-link.active::before {
	transform: scaleX(1);
}

.header-bottom .flex-box.first {
	margin: 0 122px 0 104px;
}

.header-bottom .flex-box {
	display: flex;
	align-items: center;
	gap: 16px;
	position: relative;
}


.header-bottom .down-box {
	width: 21px;
	height: 21px;
	background-color: var(--blue-gray);
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 2px;
}

.header-bottom {
	position: relative;
}

.header__drop-list.drop-list-nav {
	transform: scaleY(1);
}

.header__drop-list {
	/* margin: -14px 0 0 0; */
	position: absolute;
	z-index: 99;
	box-sizing: border-box;
	padding: 28px 0;
	transform: scaleY(0);
	transition: all 0.3s ease;
	transform-origin: 0% 0%;
	background: var(--platinum);
	left: 0;
	width: 100%;
}

.header__drop-list .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header__drop-list .drop-list-nav__column .drop-list-nav__item:last-child {
	margin-bottom: 0;
}

.header__drop-list .drop-list-nav__column .drop-list-nav__item {
	margin-bottom: 16px;
}

.drop-list-nav__column .drop-list-nav__link {
	color: var(--midnight-blue);
	font-size: 13px;
	font-weight: 400;
	line-height: 126.67%;
}

.drop-list-nav__column .drop-list-nav__link:hover {
	color: var(--manatee-gray);
}

/* hero style */
.hero-section .container .banner {
	height: 127px;
	border-radius: 5px;
	background-color: var(--slate-gray);
	margin: 27px 0 24px 0;
	text-align: center;
	color: var(--white);
	font-size: 15px;
	line-height: 127px;
	font-weight: 700;
}

.hero-section .breadcrumb {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 6px;
}

.hero-section .breadcrumb a {
	color: var(--periwinkle-gray);
	font-family: Onest;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.banner-small {
	height: 86px;
	border-radius: 5px;
	background-color: var(--slate-gray);
	margin: 27px 0 24px 0;
	text-align: center;
	color: var(--white);
	font-size: 15px;
	line-height: 86px;
	font-weight: 700;
}

/* right-sidebar */
.right-sidebar {
	max-width: 312px;
	width: 100%;
}

.right-sidebar .right-sidebar__box-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 18px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.right-sidebar__box.top .right-sidebar__box-header {
	background-color: var(--lavender);
}

.right-sidebar__box.middle .right-sidebar__box-header {
	background-color: var(--cornflower-blue);
	color: var(--white);
}

.right-sidebar__box.bottom .right-sidebar__box-header {
	background-color: var(--slate-gray);
	color: var(--white);
}

.right-sidebar .right-sidebar__box-body {
	border: 1px solid var(--light-periwinkle);
	border-top: none;
	margin-top: -4px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.right-sidebar .right-sidebar__box-content:first-child {
	padding-top: 20px;
}

.right-sidebar__box.top .right-sidebar__box-content {
	justify-content: space-between;
}

.right-sidebar__box.middle {
	margin: 30px 0;
}

.right-sidebar__box.middle .right-sidebar__box-content {
	gap: 18px;
}

.right-sidebar .right-sidebar__box-content {
	padding: 16px 18px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--light-periwinkle);
}

.right-sidebar .right-sidebar__box-content:last-child {
	border-bottom: none;
}

.right-sidebar .right-sidebar__box-content .right-sidebar__box-text {
	color: var(--midnight-blue);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.right-sidebar .right-sidebar__box-content span {
	color: var(--slate-gray);
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
}

.right-sidebar .middle-box {
	display: flex;
	align-items: start;
	width: 100%;
	justify-content: space-between;
}

.right-sidebar .middle-box .left-box {
	display: flex;
	align-items: center;
	gap: 16px;
}

.right-sidebar .middle-box p {
	color: var(--gunmetal-blue);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.right-sidebar__box.bottom .right-sidebar__box-content {
	display: block;
}

.right-sidebar__box.bottom .middle-box.two {
	margin-top: -4px;
}

.right-sidebar .middle-box .right-box {
	/* text-align: end; */
}

.right-sidebar .middle-box .right-box__text {
	color: var(--gunmetal-blue);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.right-sidebar .middle-box .right-box__text span {
	color: var(--gunmetal-blue);
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
	display: block;
}

/* sidebars-section */
.sidebars-section .container {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 31px;
}

.left-sidebar {
	width: 100%;
}

.time-select {
	width: 346px;
	height: 50px;
	border-radius: 5px;
	background-color: var(--lavender);
	border: none;
	outline: none;
	padding: 0 21px;
	color: var(--midnight-blue);
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
}

.time-select .arrow-down {
	position: absolute;
}

.time-box {
	margin-top: 22px;
}

.time-box,
.time-box .times {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.time-box .times {
	gap: 48px;
}

.time-box .times p {
	cursor: pointer;
	color: var(--slate-blue);
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	position: relative;
}

.time-box .times p.active::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -17px;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	background-color: var(--turquoise-green);
}

.time-box .search-time {
	margin-left: 16px;
	cursor: pointer;
}

.left-sidebar .title-box {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 33px 0 25px 0;
}

.left-sidebar .title-box__sm span {
	color: var(--gunmetal-blue);
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.left-sidebar .title-box__sm {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 35px 0 22px 0;
	justify-content: space-between;
}

.left-sidebar .acordion {
	margin-bottom: 20px;
}

.left-sidebar .acordion:last-child {
	margin-bottom: 0;
}

.left-sidebar .acordion-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 30px 15px 11px;
	background-color: var(--lavender);
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.left-sidebar .acordion-header .acordion-title {
	margin: 0 6px 0 14px;
	color: var(--midnight-blue);
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
}

.acordion .active-icon .acordion-header__down {
	transform: rotate(0);
}

.acordion .acordion-header__down {
	transform: rotate(180deg);
}

.left-sidebar .acordion-title__box {
	display: flex;
	align-items: center;
}

.left-sidebar .acordion-content__line {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid var(--glacial-blue);
	border-top: none;
}

.left-sidebar .acordion-content {
	margin-top: -4px;
	border-bottom: 1px solid var(--glacial-blue);
	padding: 15px 19px 15px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-sidebar .acordion-content:last-child {
	border-bottom: none;
}

.left-sidebar .acordion-time {
	display: flex;
	align-items: start;
}

.left-sidebar .acordion-time__box {
	display: flex;
	align-items: center;
	margin-right: 38px;
	gap: 12px;
	padding-top: 3px;
}

.left-sidebar .group-name {
	display: flex;
	flex-direction: column;
	row-gap: 13px;
}

.left-sidebar .group-name__box {
	display: flex;
	align-items: center;
}

.left-sidebar .acordion-time__box .time {
	color: var(--steel-blue);
	font-family: Onest;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.left-sidebar .group-name__box p {
	width: 150px;
	color: var(--gunmetal-blue);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 40px 0 16px;
}

.left-sidebar .group-name__box .group-numbers {
	display: flex;
	gap: 37px;
}

.left-sidebar .group-name__box .group-number.disabled {
	color: var(--manatee-gray);
}

.left-sidebar .group-name__box .group-number {
	color: var(--gunmetal-blue);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.left-sidebar .acordion-statistiks {
	display: flex;
	align-items: center;
	gap: 16px;
}

.left-sidebar .statistiks-box {
	width: 44px;
	height: 51px;
	border-radius: 8px;
	background-color: var(--lavender);
}

.left-sidebar .statistiks-box p {
	color: var(--gunmetal-blue);
	font-size: 14px;
	font-weight: 600;
	line-height: 51px;
	text-align: center;
}

.left-sidebar .acordion-statistik span,
.left-sidebar .acordion-statistiks span {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	display: block;
	text-align: right;
	color: var(--midnight-blue);
}

.left-sidebar .acordion-statistiks .btn {
	margin-left: 9px;
}

.left-sidebar .acordion-statistik .active-text {
	color: var(--camouflage-green);
}

.left-sidebar .acordion-statistik .canceled-text {
	color: var(--light-coral);
}

.left-sidebar .acordion-statistik .postponed-text {
	color: var(--gunmetal-blue);
}

.left-sidebar .acordion-statistik .break-text {
	color: var(--cornflower-blue);
}

.forecasts {
	padding-bottom: 37px;
	margin-top: 7px;
}

.forecasts .title-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.forecasts .title-box span {
	color: var(--gunmetal-blue);
	font-family: Onest;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.forecasts .forecasts-boxes,
.media-files .media-files__boxes {
	display: flex;
	justify-content: space-between;
	gap: 21px;
}

.forecasts .forecasts-boxes .forecasts-box {
	border-radius: 5px;
	background: var(--lavender);
	padding: 20px 30px 27px 26px;
	width: 100%;
}

.forecasts .forecasts-box__top {
	display: flex;
	align-items: end;
	justify-content: space-between;
	margin-bottom: 15px;
}

.line {
	background-color: #bfc3cc;
	width: 100%;
	height: 0.5px;
}

.active-box {
	border-radius: 50px;
	background-color: var(--forest-green);
	color: var(--white);
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	width: 83px;
	height: 20px;
	text-align: center;
}

.forecasts .country-logo {
	display: flex;
	gap: 17px;
}

.forecasts .country-logo img {
	width: 54px;
	height: 54px;
}

.forecasts .forecasts-box__title,
.media-files .media-files__boxe p {
	color: var(--midnight-blue);
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
}

.forecasts .forecasts-box__title span {
	font-weight: 400;
	display: block;
}

.forecasts .forecasts-box__date {
	color: var(--steel-blue);
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	margin-top: 25px;
	display: inline-block;
}

.media-files {
	padding-bottom: 38px;
}

.media-files .media-files__boxe {
	height: 222px;
	border-radius: 5px;
	background-image: url(../images/media-1.png);
	background-repeat: no-repeat;
	padding: 0 30px 27px 26px;
	width: 100%;
	padding-top: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.media-files .media-files__boxe p {
	color: var(--white);
	margin-top: 16px;
}

.results-section ul li {
	padding: 0 !important;
	position: relative;
}

.results-section ul li::before {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: var(--gunmetal-blue);
	left: -9px;
	top: 6px;
}

.results-section ul {
	padding-left: 20px;
}

.results-section .results-section__info {
	color: var(--gunmetal-blue);
	font-size: 13px;
	font-weight: 400;
	line-height: 125%;
	padding-bottom: 22px;
}

.results-section .results-section__info:last-child {
	padding-bottom: 0;
}

.results-section .results-section__info span {
	text-decoration: underline;
}

/* footer style */

/* footer style */
.footer {
	margin-top: 48px;
	background-color: var(--midnight-blue);
}

.footer .footer-top {
	border-bottom: 1px solid #4c5164;
	padding: 30px 0 42px 0;
}

.footer .footer-top .container {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.footer .footer-menu {
	display: flex;
	align-items: start;
	gap: 66px;
}

.footer ul h4 {
	color: var(--white);
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
	display: block;
}

.footer ul h4.hidden {
	opacity: 0;
}

.footer ul a:first-child {
	margin-top: 18px;
}

.footer ul a {
	color: var(--white);
	font-size: 13px;
	font-weight: 400;
	line-height: 112%;
	margin-top: 15px;
}

.footer-bottom {
	padding: 22px 0;
}

.footer-bottom .footer-bottom__info {
	color: var(--white);
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}